.underline::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 48px;
  height: 1px;
  background-color: #333;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.map-container {
  width: 250px;
  height: 180px;
}
@media screen and (max-width: 48em) {
  .map-container {
    width: 100%;
  }
}
